.valentine-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .content {
    text-align: center;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }